In [41]:
import psycopg2
import pandas as pd

In [42]:
def create_database():
    conn = psycopg2.connect("host=127.0.0.1 dbname=postgres user=postgres password=root")
    conn.set_session(autocommit=True)
    cur = conn.cursor()
    
    cur.execute('DROP DATABASE IF EXISTS food')
    cur.execute('CREATE DATABASE food')
    
    conn.close()
    
    conn = psycopg2.connect("host=127.0.0.1 dbname=food user=postgres password=root")
    cur = conn.cursor()
    
    return cur,conn

In [ ]:
def drop_table():
    for query in drop_tables_queries:
        cur.execute(query)
        conn.commit()

In [ ]:
def create_tables(curr,conn):
    for query in create_tables_queries:
        cur.execute(query)
        conn.commit()

In [38]:
df=pd.read_csv('Data/food_data/food.csv')
df2=pd.read_csv('Data/food_data/food_nutrient_conversion_factor.csv')
df3=pd.read_csv('Data/food_data/food_calorie_conversion_factor.csv')
df3.head()

,food_nutrient_conversion_factor_id,protein_value,fat_value,carbohydrate_value
0,22503,3.47,8.37,4.07
1,22505,4.27,8.79,3.87
2,22507,2.44,8.37,3.57
3,22510,2.44,8.37,3.57
4,22512,2.44,8.37,3.57

In [61]:
food=df[['fdc_id','data_type','description']]
nutrients=df2
calorie=df3

In [68]:
food.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35378 entries, 0 to 35377
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   fdc_id       35378 non-null  int64
 1   data_type    35378 non-null  object
 2   description  35370 non-null  object
dtypes: int64(1), object(2)
memory usage: 829.3+ KB

In [43]:
cur,conn = create_database();

In [49]:
create_table_food=("""CREATE TABLE IF NOT EXISTS food(
fdc_id INTEGER PRIMARY KEY,
data_type VARCHAR,
description VARCHAR
)""")

create_table_nutrient=("""CREATE TABLE IF NOT EXISTS nutrients(
nutrients_id INTEGER PRIMARY KEY,
fdc_id INTEGER
)""")


create_table_calorie=("""CREATE TABLE IF NOT EXISTS calorie(
nutrients_id INTEGER PRIMARY KEY,
protein_value INTEGER,
fat_value VARCHAR,
carbohydrate_value VARCHAR
)""")

In [55]:
cur.execute(create_table_calorie)
conn.commit()

In [60]:
insert_table_food=("""INSERT INTO food(
fdc_id,
data_type,
description)
VALUES (%s, %s, %s)
""")

insert_table_nutrient=("""INSERT INTO nutrients(
nutrients_id,
fdc_id)
VALUES (%s, %s)
""")


insert_table_calorie=("""INSERT INTO calorie(
nutrients_id,
protein_value,
fat_value,
carbohydrate_value)
VALUES (%s, %s, %s, %s)
""")

In [62]:
for i, row in food.iterrows():
    cur.execute(insert_table_food,list(row))

In [69]:
conn.commit();

In [70]:
for i, row in nutrient.iterrows():
    cur.execute(insert_table_nutrient,list(row))

In [71]:
conn.commit();

In [72]:
for i, row in calorie.iterrows():
    cur.execute(insert_table_calorie,list(row))

In [74]:
cur

In [85]:
alter_foreignkey = ("""ALTER TABLE nutrients
    ADD CONSTRAINT fk_nutrients_fdcid FOREIGN KEY (fdc_id) REFERENCES food (fdc_id)""")

In [83]:
cur.execute(alter_foreignkey)

In [86]:
alter_foreignkey1 = ("""ALTER TABLE calorie
    ADD CONSTRAINT fk_calorie_nutrientid FOREIGN KEY (nutrients_id) REFERENCES nutrients (nutrients_id)""")

In [87]:
cur.execute(alter_foreignkey1)